card {
    border: darkblue;
    margin: 50px,50px,50px,50px;
    padding: 30px,30px,30px,30px;
    width: 300px;
    height: 300px;
}
.span{
    align-content: center;
}

main{
    margin-top: 50%;
    border-top: darkred;
}
#more {display: none;}
